<!DOCTYPE html>

<html>
<head>
    <title>Sobre</title>
</head>

<body>

    <h1>Sobre</h1>

    <p>
        Somos alunos do 2º período de Ciência da Computação da CESAR School, responsáveis pelo desenvolvimento do projeto DARA — uma solução focada em simplificar a adoção de práticas ESG para pequenas e médias empresas do ramo alimentício.</b>
    </p>
    <h1>Contatos</h1>
    <ul>
        <li>Ana Luiza Vieira Câmara — alvc@cesar.school</li>
        <li>Anna Elizabete Asfóra Lisbôa Santos — aeals@cesar.school</li>
        <li>Gabriela Manzi Sena Correia de Araújo — gmsca@cesar.school</li>
        <li>Isabela Melo da Silva — ims2@cesar.school</li>
        <li>João Carlos Soares Sampaio — jcss4@cesar.school</li>
        <li>Laís Araújo Moura — lam2@cesar.school</li>
    </ul>

    <a href="/">Início</a>
    <a href="/faleconosco/">Fale Conosco</a>

</body>
</html>
