<!DOCTYPE html>

<html>
<head>
    <title>Fale Conosco</title>
</head>

<body>

    <h1>Fale Conosco</h1>

    <p>Você pode nos mandar mensagens pelos emails:</p>
    <ul>
        <li>Ana Luiza Vieira Câmara — alvc@cesar.school</li>
        <li>Anna Elizabete Asfóra Lisbôa Santos — aeals@cesar.school</li>
        <li>Gabriela Manzi Sena Correia de Araújo — gmsca@cesar.school</li>
        <li>Isabela Melo da Silva — ims2@cesar.school</li>
        <li>João Carlos Soares Sampaio — jcss4@cesar.school</li>
        <li>Laís Araújo Moura — lam2@cesar.school</li>
    </ul>

    <a href="/">Início</a>
    <a href="/about/">Sobre</a>

</body>
</html>
