<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>

<body>

    <h1>DARA</h1>
    <p><i>ESG na palma da sua mão.</i></p>
    <h2>"O que é ESG?"</h2>
    <p>ESG significa o conjunto de práticas da empresa que avaliam o impacto de uma organização no meio ambiente, na sociedade e na transparência de sua gestão, indo além do foco exclusivo no lucro financeiro. São 3 pilares: o Ambiental, que engloba o uso de energia limpa, a redução de emissões de carbono, a gestão de resíduos e a preservação dos recursos naturais. O Social: Relações de trabalho, direitos humanos, diversidade e impacto positivo na comunidade. E o de Governança: Ética corporativa, transparência, compliance e liderança responsável.</p>
    <h2>Sobre o Projeto</h2>
    <p>Nosso objetivo é tornar o ESG algo facilmente acessível para pequenas e médias empresas do ramo alimentício, com relação tanto a atitudes sustentaveis como a questões logísticas como estabelecimento de conexões com outras empresas sustentáveis e guias de como obter certificados legais</p>

    <a href="/about/">Sobre</a>
    <a href="/faleconosco/">Fale Conosco</a>

</body>
</html>
